body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgb(76, 208, 212), rgb(190, 251, 253), rgb(255, 255, 255));
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 88%;
    margin: 0 auto;
    font-family: 'Rubik Dooble Shadow', sans-serif;
}

header,
footer {
    background-color: blue;
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#madLibOutput {
    padding: 20px;
    text-align: center;
}

/* Add more styles based on your creativity and design preferences */